@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');
* {
  /* font-family: "Sora", sans-serif; */
  font-family: 'Inter', sans-serif; 
}

 
.TextField-without-border-radius fieldset {
  border-radius: 0;
}
 
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
display: none !important;
}
