@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.text-primary {
  color: #ff9a00;
}
.bg-primary {
  background-color: #ff9a00;
}

.text-black {
  color: #39393b;
}
.t-logo {
  font-family: "Lato", sans-serif;

  font-weight: 700;
}

.h-20 {
  height: 72px;
}
.border-primary {
  border-color: #ff6600;
}
